<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sayaaa</title>
</head>
<body>
    
   
    <div class="menu">
        <h2>brainware</h2>
        <p>    Brainware adalah orang yang menggunakan, memakai ataupun mengoprasikan perangkat komputer. Seperti contoh dari brainware yaitu programmer, netter (sebutan untuk orang yang sedang melakukan surfing di internet), serta orang yang sedang menggunakan perangkat komputer.</p>
    </div>
    <a href="/utama">>>Home<<</a>
    
    
</body>
</html>