<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sayaa</title>
</head>
<body>
    
    <div class="menu">
        <h2>Software</h2>
        <p>    Software merupakan sebuah data yang diprogram, disimpan, dan diformat secara digital dengan tujuan serta fungsi tertentu. Perangkat ini sendiri tak mempunyai bentuk fisik, Grameds dapat mengoperasikannya melalui perangkat komputer.
        </p>
        <p>Contohnya : Gooogle, microsoft office, adobephotoshop, microsoft edge</p>
    </div>
    <a href="/utama">>>Home<<</a>

</body>
</html>