<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sayaaa</title>
</head>
<body>
    
    <div class="menu">
        <h2>Hardware</h2>
        <p>Hardware atau perangkat keras komputer adalah bagian dari sistem komputer yang bersifat fisik. Contohnya seperti monitor, keyboard, hard drive, dan lain sebagainya. Hardware juga dibedakan dan dikategorikan lagi menjadi komponen internal dan eksternal.</p>
        <p>contohnya : monitor, keyboard, mouse, CPU, speaker, printer.</p>
    </div>
    <a href="/utama">>>Home<<</a>

    
</body>
</html>