{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Utama</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h2>Sistem Komputer</h2>
    <p>    Sistem komputer adalah kumpulan dari elemen-elemen computer (hardware, software, brainware) yang saling berhubungan (terintegrasi) dan saling berinteraksi untuk melakukan pengolahan data dengan tujuan menghasilkan informasi sesuai dengan yang diharapkan.</p>
    <p>Berikut macam-macam sistem komputer:</p>
    <p><a href="/hardware" >a. hardware</a></p>
    <p><a href="/software" >b. software</a></p>
    <p><a href="/brainware" >c. brainware</a></p>
    <h2>Alhamdulillah selesai</h2>
</body>
</html>